/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after

{content: '';
  content: none;}

table {border-collapse: collapse;
  border-spacing: 0;}

/*            End of CSS Reset            */

/*                  Font                  */

@font-face {

  font-family: "Myriad Set Pro";

  src: url("./fonts/myriad-set-pro_bold.ttf") format("truetype");

  font-weight: 700;

}

@font-face {font-family: "Myriad Set Pro";
            src: url("./fonts/myriad-set-pro_semibold.ttf") format("truetype");
            font-weight: 600;}

@font-face {font-family: "Myriad Set Pro";
            src: url("./fonts/myriad-set-pro_medium.ttf") format("truetype");
            font-weight: 500;}

@font-face {font-family: "Myriad Set Pro";
            src: url("./fonts/myriad-set-pro_text.ttf") format("truetype");
            font-weight: 400;}

@font-face {font-family: "Myriad Set Pro";
            src: url("./fonts/myriad-set-pro_thin.ttf") format("truetype");
            font-weight: 300;}

@font-face {font-family: "Myriad Set Pro";
            src: url("./fonts/myriad-set-pro_ultralight.ttf") format("truetype");
            font-weight: 100;}


.horiz_nav {list-style-type: none;
            margin: 0;
            padding: 0;
            height: 44px;
            line-height: 44px;
            overflow-y: hidden;
            background-color: #333;}

.nav_img1 {margin: 0px 0px 0px 140px;}

.nav_img2 {margin: 0px 0px 0px 0px;}

.nav_img3 {margin: 0px 100px 0px 0px;}

.li_nav {float: left;
         color: white;
         font-size: 16px;
         font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;}

.li_nav a {display: block;
           color: white;
           text-align: center;
           padding: 0px 40px;
           text-decoration: none;}

/* Change the link color to #999 (light grey) on hover */
.li_nav a:hover {color: #999;}

.iphone_img_logo  {float: left;
                   margin: 0 0 25px 4px;
                   position: relative;
                   left:121px;}

.iphone_img_motto  {float: right;
                    position: relative;
                    top: 206px;
                    right: 265px;}

.motto {font-size: 39.5px;
        margin: 0 0 27.5px;
        position: relative;
        left: 140px;
        top: 286px;
        overflow: hidden;
        font-weight: 300;
        text-align: center;
        font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;}

.anchor_learn {position: relative;
               left: 200px;
               top: 300px;
               padding-right: 30px;
               padding-left: 21px;
               text-decoration: none;
               color: #0088CC;
               font-size: 23.7px;
               font-weight: 300;
               text-align: center;
               font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;}

.anchor_watch {position: relative;
               left: 200px;
               font-size: 23.7px;
               top: 300px;
               color: #0088CC;
               font-weight: 300;
               text-decoration: none;
               text-align: center;
               font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;}

.hero {margin: 11px 42px 0;
       padding: 0 10px;}

.sub-hero {clear: both;
           margin: 0 0 20px 0;}

.img {width: 24%;
      height: 200px;}

.img_bg_1 {background-image: url(../images/watch_large.jpg);
           height: 200px;
           margin: 0;
           width: 24.4%;
           background-size: cover;
           background-position: center;
           display: inline-block;
           background-repeat: no-repeat;}

.img_bg_2 {background-image: url(../images/ipad_pro_large.jpg);
           height: 200px;
           margin: 0;
           width: 24.4%;
           background-size: cover;
           background-position: center;
           display: inline-block;
           background-repeat: no-repeat;}

.img_bg_3 {background-image: url(../images/accessories_large.jpg);
           height: 200px;
           margin: 0;
           width: 24.4%;
           display: inline-block;
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;}

.img_bg_4 {background-image: url(../images/macbook_large.jpg);
           height: 200px;
           margin: 0;
           width: 24.4%;
           display: inline-block;
           background-size: cover;
           background-position: center;
           background-repeat: no-repeat;}

.adapter_motto {color: #0088CC;
                font-weight: 400;
                font-size: 18px;
                position: relative;
                margin: 22px 0px 18px;
                left: 500px;
                text-decoration: none;
                text-align: center;
                font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;}

footer {background-color: #f2f2f2;
        font-size: 11.94px;
        line-height: 1.66667;
        font-weight: 400;
        letter-spacing: -0.01px;
        height: 343px;
        padding: 0 64px;}

footer a {text-decoration: none;
          color: #666;}

.li_e :hover {text-decoration: underline;}

.anchor_learn:hover,
.anchor_watch:hover {text-decoration: underline;
                     color: #111;}

.adapter_motto:hover {text-decoration: underline;}

.col {padding: 20px 0 0;
      float: left;
      width: 19%;
}

/* Clear floats after the columns */
.row:after {content: "";
            display: table;
            clear: both;}

.shop_motto {clear: both; padding: 20px 0 0;}

.footer_help {padding: 20px 0 24px 0px;
              margin: 30px 0 0 0;
              color: #999;}

.apple_motto {color: #08C;}

.collage_motto {padding-bottom: 20px;}

.cloud_motto {padding-bottom: 20px;}

.reseller_motto  {color: #08C;}

.copy_motto {display: inline;}

.footer_help_sub {padding-right: 22px;}

.usa_motto {padding-left: 300px;}

.usa_f {padding-right: 8px;}
